<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="bishlog.css">
  <link rel="stylesheet" type="text/css" href="normalize.css">
</head>
<header class="header">
  <p>Bishlog</p>
</header>
<body>
  <h1>Bishlog</h1>
  <form action="/bishlogs" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="qbu8RFLhyCuAElg1qr7MLYDEdiEINJdEe1JLQFLr7kyWPFiHCEZKszOrvwON33s9CqGz7njGpBasOzrpYkb8/w==">
    <div class="bishlog_name">
      <label id="namae" for="bishlog_name">名前</label><br>
      <input id="name" type="text" name="bishlog[name]">
    </div>
    <div class="bishlog_content">
      <label id="naiyou" for="bishlog_content">内容</label><br>
      <input id="content" type="text" name="bishlog[content]">
    </div>
    <input id="toukou" type="submit" name="commit" value="投稿する" data-disable-with="Create Bishlog"><br>
  </form>
</body>
<footer class="footer">
  <p>Copyright © 2020 SASAKI All RIGHTS RESERVED.</p>
</footer>
