<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="bishlog.css">
  <link rel="stylesheet" type="text/css" href="normalize.css">
</head>
<header class="header">
  <p>Bishlog</p>
</header>
<h1>Bishlog確認画面</h1>
<p id="detailuser" >ユーザー名: <%= @bishlog.user %></p>
<p id="detailcontent" >内容: <%= @bishlog.content %></p>
<footer class="footer">
  <p>Copyright © 2020 SASAKI All RIGHTS RESERVED.</p>
</footer>