<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="bishlog.css">
  <link rel="stylesheet" type="text/css" href="normalize.css">
</head>
<header class="header">
  <p>Bishlog</p>
</header>
<%= form_with(model: @bishlog, local: true) do |form| %>
  <h1>Bishlog確認画面</h1>
  <p id="detailcontent" >内容: <%= @bishlog.content %></p>
  <div class="indexback">
    <%= link_to "ブログ一覧画面にもどる", bishlogs_path %>
  </div>
<% end %>
<footer class="footer">
  <p>Copyright © 2020 SASAKI All RIGHTS RESERVED.</p>
</footer>