.header {
  background-color: black;
  height: 50px;
  width: 1500px;
  font-size: 2rem;
  position: absolute;
  top: 0px;
  left: 0px;
}

p {
  font-family: Times New Roman;
  color: white;
  position: absolute;
  top: -25px;
  left: 10px;  
}

body{
  background-color: gray;
}

.TweetTable {
  color: white;
  border-collapse: separate;
  border-spacing: 40px 0px;
  position: relative;
  top: 100px;
  left: 480px;
}

h1 {
  color: white;
  position: relative;
  top: 50px;
  left: 560px;
}

.newtoukou {
  color: white;
  position: absolute;
  top: 130px;
  left: 570px;
}

.namae {
  color: white;
  position: absolute;
  top: 160px;
  left: 620px;
}

.name {
  position: absolute;
  top: 185px;
  left: 570px;
}

.naiyou {
  color: white;
  position: absolute;
  top: 230px;
  left: 645px;
}

.content {
  position: absolute;
  top: 255px;
  left: 440px;
}

.submit {
  color: black;
  position: absolute;
  top: 320px;
  left: 595px;
}

#error_explanation {
  color: rgb(248, 191, 4);
  position: absolute;
  left: 30px;
}

#toukou {
  color: black;
  position: relative;
  top: 130px;
  left: 625px;
}

#detailuser {
  color: white;
  position: relative;
  top: 100px;
  left: 550px;
  font-size: 1.5rem;
}

#detailcontent {
  color: white;
  position: relative;
  top: 100px;
  left: 550px;
  font-size: 1.5rem;
}

.footer{
  background-color: black;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer p {
  font-size: 1rem;
  color: white;
  position: relative;
  top: 10px;
  left: 530px;
}